{% load static %}
<html>
  <head>
    <title>Only Nans</title>
    <link rel="stylesheet" href="{% static 'css/onlybackend.css' %}"/>
  </head>
  <h1>Only Nans</h1>
<div>
    <h3>You cook so good, you should start an Only Nans</h2>
    <h2> WARNING HOT(and cold) DELICIOUS RECIPES </h2>
    
    <h2> Sign up to see more...</h2>
    </div>
    
    
    <nav>
      <a class="button-two" href="user/new">Sign Up</a> 
    </nav>
 {% block content %}


<h2>Chefs <a href="{% url 'user_create' %}"></a></h2>
<ul>
  {% for user in users %}
  <li>
    <a class="blur" href="{% url 'user_detail' pk=user.id %}">{{ user.chef }} <img src="{{ user.profile_pic }}" alt="" class="user-photo"></a>
  </li>
  {% endfor %}
</ul>

 
{% endblock %}